.Calendar {
    margin: auto;
}
.head {
    background-color: #888;
}
.monthTitle {
    color: blueviolet;
}
.calendarTitle {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
}
.gridCont {
    margin-top: 15px;
}
svg {
    margin: auto;
    padding: 0 50px;
    fill: white;
}

td {
    cursor: pointer;
}
.buttonTrue {
    background-color: white;
}
.buttonFalse {
    background-color: yellow;
}
.modalPaper {
    background-color: white;
    width: 40%;
    height: 40%;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    
}